<div class="col-md-10 col-md-offset-1">
    <br>
    <div>
        <button class="btn btn-primary" ng-click="login()">Flickr Login</button>&nbsp;
        <button class="btn btn-primary" ng-click="getPhotos()" ng-disabled="!loginStatus.connected">Flickr Photos</button>&nbsp;
        <button class="btn btn-primary" ng-click="getAlbums()" ng-disabled="!loginStatus.connected">Flickr Album Photos</button>&nbsp;
    </div>
    <!-- SHOW INSTAGRAM PHOTOS -->
    <div class="row">
        <div ng-repeat="pic in flickrPics | limitTo:5" class="well well-lg">
            <div ng-repeat="(key, value) in pic">
                <p> {{key}}: {{ value }} </p>
            </div>
        </div>
    </div>
  <div class="row">
    <div ng-repeat="pic in flickrAlbumPics | limitTo:5" class="well well-lg">
      <div ng-repeat="(key, value) in pic">
        <p> {{key}}: {{ value }} </p>
      </div>
    </div>
  </div>
</div>
